<div id="<%= dom_id page %>">
  <p>
    <strong>Author:</strong>
    <%= page.author %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= page.content %>
  </p>

  <p>
    <%= link_to "Show this page", page %>
  </p>
</div>
