<p style="color: green"><%= notice %></p>

<h1>Pages</h1>

<div id="pages">
  <%= render @pages %>
</div>

<%= link_to "New page", new_page_path %>

<%= render 'react_component', component_name: 'application/hello', component_props: { hello: 'hello' } %>
