<% props ||= {} %>
<% props = props.is_a?(String) ? props : props.to_json.html_safe %>
<% container_element_id = SecureRandom.uuid %>
<script
  type="application/json"
  class="react-component-mount"
  data-component-path="<%= path %>"
  data-container-element-id="<%= container_element_id %>"
>
  <%= props %>
</script>
<div id="<%= container_element_id %>"></div>
